[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
transformers = "*"
pyyaml = "*"
h5py = "*"
torch = "*"
mxnet = "*"
gluonnlp = "*"
sentencepiece = "*"
onnxruntime = "*"
keras = "*"
tensorflow = "*"
pandas = "*"
matplotlib = "*"
konlpy = "*"
sklearn = "*"
pymysql = "*"

[requires]
python_version = "3.8"
